In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/Bird Strikes data.xlsx - Bird Strikes.csv')

In [ ]:
df.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/00 0:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,7/25/01 0:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,9/14/01 0:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/02 0:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,6/23/03 0:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50,0,No

In [ ]:
df.shape  # 25558 rows , 26 col
df.index
df.info()  # size = 4.7+ mb  , 2 bool - 3 int64 - 21 object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 25429 non-null  object
 8   FlightDate                               25429 non-null  object
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                25558 non-null  object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  object
 23  Feet above ground                        25429 non-null  object
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), int64(3), object(21)
memory usage: 4.7+ MB

**Variable Description**

Record Id: Unique Id for the incidents

Aircraft Type: Type of aircraft

Aircraft Name: Name of aircraft

Altitude Bin: Altitude of aircraft <1000 and >1000

Aircraft make Model: Model number of aircraft

Wildlife number struck: Number of wildlife struck in the aircraft

Wildlife number struck actual: Actual no. of wildlife struck

Effect impact to flight: Effect of impact on flight

Flight Date: Date of flight

Effect indicated damage: Whether damage is caused to aircraft or not

Aircraft no. of Engines: No. of engines in aircraft

Aircraft Airline Operator: Name of airline operator

Origin State: Origin state for the aircraft

When phase of flight: Phase of flight

Conditions Precipitation:

Remains of Wild Life Collected: Whether wild life remains collected or not

Remains of Wild life send to smitsonian: Whether wild life remains sent to Smithsonian

Wildlife Size: Size of the wildlife

Conditions Sky: Condition of the sky

Wildlife Species: Species of the wild life

Pilot warned of birds or wildlife: Whether the pilot is warned about the wildlife

Cost Total: Total cost incurred due to bird strike incidents

Feet above ground: Height of the plane during the incidents

Number of people injured: No. of people injured during the incidents

Is Aircraft large : whether the aircraft is large or not

In [ ]:
# Checking duplicates and null values
df.duplicated().sum()  # 0
df.isnull().sum()

Record ID                                     0
Aircraft: Type                              129
Airport: Name                               129
Altitude bin                                129
Aircraft: Make/Model                          0
Wildlife: Number struck                     129
Wildlife: Number Struck Actual                0
Effect: Impact to flight                    129
FlightDate                                  129
Effect: Indicated Damage                      0
Aircraft: Number of engines?                267
Aircraft: Airline/Operator                  129
Origin State                                449
When: Phase of flight                       129
Conditions: Precipitation                     0
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Remarks                                    4771
Wildlife: Size                              129
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?          129
Cost: Total $                                 0
Feet above ground                           129
Number of people injured                      0
Is Aircraft Large?                          129
dtype: int64

In [ ]:
# Deleting null values
df.dropna(subset=['Aircraft: Type'], inplace=True)
df.dropna(subset=['Aircraft: Number of engines?','Origin State'], inplace=True)
df.drop(columns = ['Remarks'], inplace=True)

In [ ]:
df.isna().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [ ]:
df.info() # 4.6+ mb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24747 entries, 0 to 25557
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24747 non-null  int64
 1   Aircraft: Type                           24747 non-null  object
 2   Airport: Name                            24747 non-null  object
 3   Altitude bin                             24747 non-null  object
 4   Aircraft: Make/Model                     24747 non-null  object
 5   Wildlife: Number struck                  24747 non-null  object
 6   Wildlife: Number Struck Actual           24747 non-null  int64
 7   Effect: Impact to flight                 24747 non-null  object
 8   FlightDate                               24747 non-null  object
 9   Effect: Indicated Damage                 24747 non-null  object
 10  Aircraft: Number of engines?             24747 non-null  object
 11  Aircraft: Airline/Operator               24747 non-null  object
 12  Origin State                             24747 non-null  object
 13  When: Phase of flight                    24747 non-null  object
 14  Conditions: Precipitation                24747 non-null  object
 15  Remains of wildlife collected?           24747 non-null  bool
 16  Remains of wildlife sent to Smithsonian  24747 non-null  bool
 17  Wildlife: Size                           24747 non-null  object
 18  Conditions: Sky                          24747 non-null  object
 19  Wildlife: Species                        24747 non-null  object
 20  Pilot warned of birds or wildlife?       24747 non-null  object
 21  Cost: Total $                            24747 non-null  object
 22  Feet above ground                        24747 non-null  object
 23  Number of people injured                 24747 non-null  int64
 24  Is Aircraft Large?                       24747 non-null  object
dtypes: bool(2), int64(3), object(20)
memory usage: 4.6+ MB

In [ ]:
# changing dtype to category
cols = ['Aircraft: Type', 'Altitude bin', 'Wildlife: Number struck', 'Effect: Indicated Damage', 'Wildlife: Size', 'Conditions: Sky',
        'Pilot warned of birds or wildlife?', 'Is Aircraft Large?']

df[cols] = df[cols].astype('category')

In [ ]:
# removing unwanted char from string and change dtype to int
df['Cost: Total $'] = df['Cost: Total $'].str.replace(',', '').astype('int64')
df['Feet above ground']  = df['Feet above ground'].str.replace(',', '').astype('int64')

In [ ]:
# removing row and changing dtype to int8
df.drop(6664, inplace=True)
df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].astype('int8')

In [ ]:
df.info() #3.1+ mb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24746 entries, 0 to 25557
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                24746 non-null  int64
 1   Aircraft: Type                           24746 non-null  category
 2   Airport: Name                            24746 non-null  object
 3   Altitude bin                             24746 non-null  category
 4   Aircraft: Make/Model                     24746 non-null  object
 5   Wildlife: Number struck                  24746 non-null  category
 6   Wildlife: Number Struck Actual           24746 non-null  int64
 7   Effect: Impact to flight                 24746 non-null  object
 8   FlightDate                               24746 non-null  object
 9   Effect: Indicated Damage                 24746 non-null  category
 10  Aircraft: Number of engines?             24746 non-null  int8
 11  Aircraft: Airline/Operator               24746 non-null  object
 12  Origin State                             24746 non-null  object
 13  When: Phase of flight                    24746 non-null  object
 14  Conditions: Precipitation                24746 non-null  object
 15  Remains of wildlife collected?           24746 non-null  bool
 16  Remains of wildlife sent to Smithsonian  24746 non-null  bool
 17  Wildlife: Size                           24746 non-null  category
 18  Conditions: Sky                          24746 non-null  category
 19  Wildlife: Species                        24746 non-null  object
 20  Pilot warned of birds or wildlife?       24746 non-null  category
 21  Cost: Total $                            24746 non-null  int64
 22  Feet above ground                        24746 non-null  int64
 23  Number of people injured                 24746 non-null  int64
 24  Is Aircraft Large?                       24746 non-null  category
dtypes: bool(2), category(8), int64(5), int8(1), object(9)
memory usage: 3.1+ MB

In [ ]:
# Exporting Data
df.to_csv('Bird Strike Cleaned.csv', index=False)

In [ ]:
# Visualization:

# bird strike per year